.debug {
  --brightcrimson: #ff0062;
  --red: #ff0000;
  --orange: #FF8700;
  --yellow: #FFD300;
  --lime:    #DEFF0A;
  --lawngreen: #A1FF0A;
  --skyblue: #007FFF;
  --violet: #580AFF;
  --magenta: #BE0AFF;
  --purple: #800080;
  --darkdarkgrey: #040404;
  --black: black;
  --whitegrey: #dfdfdf;
  --white: white;
}


.debug {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 900;
}

.debug__block {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  opacity: 1 ;
}
.debug__block:hover {
  opacity: .3;
  cursor: pointer;
}

.debug__text {
  display: block;
  font-size: 20px;
  font-weight: 700;
}
.debug__size {
  display: block;
  font-size: 40px;
  font-weight: 900;
}



@media (min-width: 320px) {
  /* * mobile * */
  .debug__block_mobile {
    display: flex;
    /* // background-color: #FF8700; */
    background-color: var(--orange);
  }
}
.debug__block_sm {
  /* * sm * */
  @media (min-width: 576px) {
    display: flex;
    /* // background-color: #FFD300; */
    background-color: var(--yellow);
  }
}
.debug__block_md {
  /* * md * */
  @media (min-width: 768px) {
    display: flex;
    /* // background-color: #DEFF0A; */
    background-color: var(--lime);
  }
}
.debug__block_lg {
  /* * lg * */
  @media (min-width: 1024px) {
    display: flex;
    /* // background-color: #A1FF0A; */
    background-color: var(--lawngreen);
  }
}
.debug__block_xl {
  /* * xl * */
  @media (min-width: 1240px) {
    display: flex;
    /* // background-color: #007FFF; */
    background-color: var(--skyblue);
    color: var(--darkdarkgrey);
  }
}
/* * desk 1440 * */
@media (min-width: 1440px) {
  .debug__block_desk {
    display: flex;
    /* // background-color: #580AFF; */
    background-color: var(--violet);
    color: var(--whitegrey);
  }
}
.debug__block_xxl {
  @media (min-width: 1600px) {
    /* * xxl * */
    display: flex;
    /* // background-color: #BE0AFF; */
    background-color: var(--magenta);
    color: var(--whitegrey);
  }
}
.debug__block_hd {
  @media (min-width: 2560px) {
    /* * hd * */
    display: flex;
    background-color: var(--purple);
    color: var(--whitegrey);
  }
}
  

/* // * до 320px скрываем дебаги */
@media (max-width: 319px) {
  /* * < mobile */
  .debug,
  .debug__block {
    display: none;
  }
}

@media (min-width: 576px) {
  /* * mixin sm */
  .debug__block_mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  /* * mixin md */
  .debug__block_sm {
    display: none;
  }
}

@media (min-width: 1024px) {
  /* * mixin lg */
  .debug__block_md {
    display: none;
  }
}

@media (min-width: 1240px) {
  /* * mixin xl */
  .debug__block_lg {
    display: none;
  }
}

@media (min-width: 1440px) {
  /* * mixin desk 1440 */
  .debug__block_xl {
    display: none;
  }
    .debug__block {
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 1600px) {
  /* * mixin xxl */
  .debug__block_desk {
    display: none;
  }
  .debug__block {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 2560px) {
  /* * mixin hd */
  .debug__block_xxl {
    display: none;
  }
  .debug__block {
    width: 200px;
    height: 200px;
  }
}


.nodebug {
  display: none;
}




/* 320 mobile 320 px */
/* 
 * @mixin xs (320px) {
  }


// * 576 sm
@mixin sm {
  * @media (min-width: 576px) {
    @content;
  }
}

// * 768 md tablet
@mixin md {
  * @media (min-width: 768px) {
    @content;
  }
}

// * 1024 lg laptop
@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

// * 1240 xl
@mixin xl {
  @media (min-width: 1240px) {
    @content;
  }
}

// * 1440 desktop

// * 1600 xxl
@mixin xxl {
  @media (min-width: 1600px) {
    @content;
  }
}

*/